<a href="https://colab.research.google.com/github/qkbaltazar25-hash/CPE009A---Object-Oriented-Programming-1/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [1]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [4]:
#This is a comment
print("Hello, World")

Hello, World

Variable Naming Conventions

In [8]:
myvar="John"
_my_var="John"
myVar="John"

Python Variable

In [7]:
x=1
a, b=0,-1
a, b, c=0,-1,2

b="Sally" #This is a type of string

Casting

In [9]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() function

In [10]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' quotes

In [ ]:
y="John"
y='John'

Case sensitive

In [11]:
a=4
A="Sally"
#A will not overwrite a

Multiple Variables

In [12]:
x, y, z="one", "two", "three"
print(x)
print(y)
print(z)

one
two
three